<body>
  <app-header-cbit></app-header-cbit>
  <div class="container">
    <h1 class="titulo">Clave</h1>
    <app-indicator></app-indicator>
    <div class="icono-mensaje">
      <i class="bi bi-lock-fill"></i>
    </div>
    <form
      [formGroup]="formPassword"
      (ngSubmit)="formPassword.valid && registrarPassword()"
      class="form-password"
    >
      <div class="campos-labels has-validation">
        <label for="password" class="form-label"
          >Escriba una clave para CBITBank</label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="campos-labels has-validation">
        <label for="confirmPassword" class="form-label"
          >Confirme su clave</label
        >
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          formPassword.get('password')!.value !==
            formPassword.get('confirmPassword')!.value &&
          formPassword.get('confirmPassword')!.value.length > 0
        "
      >
        Las contraseñas no coinciden
      </div>
      <app-btn-cbit
        [text]="'Crear CBITBank'"
        [type]="'submit'"
        [disabled]="!formPassword.valid"
      ></app-btn-cbit>
    </form>
  </div>
</body>
