<div class="list">
  <div
    class="type-and-list"
    *ngFor="
      let type of typesProducts | filterCategory : categorySelected.nombreTipo
    "
  >
    <h5 class="nombreTipo" *ngIf="productsByType[type.nombreTipo]">
      {{ type.nombreTipo }}s
    </h5>
    <div
      class="product"
      *ngFor="
        let product of productsByType[type.nombreTipo]
          | filterProductByEntityF : txtFilterProduct : entitiesF
      "
      (click)="setProductSelected(product)"
    >
      <div class="entity">
        <app-entity [entity]="product.entidadF"></app-entity>
      </div>
      <div class="datos">
        <p class="nombreProducto">{{ product.tipoProducto.nombreTipo }}</p>
        <div class="valores">
          <p class="textoSaldo">Saldo actual</p>
          <p class="valorSaldo">{{ product.montoProd | currency }}</p>
        </div>
      </div>
      <div class="boton">
        <p>Ver movimientos<i class="bi bi-chevron-right"></i></p>
      </div>
    </div>
  </div>
</div>
