<body>
    <app-header-cbit
      (onClickEventBack)="goToPage(routes.back)"
      (onClickEventHelp)="goToPage(routes.help)"
    ></app-header-cbit>
    <div>
      <h1 class="titulo"> Crédito Aprobado </h1>
      <app-indicator [completados]="3"></app-indicator>
    </div>
    <div class="container" #voucherContent>
        <div class="detalleVoucher">
            <div class="campo">
                <p class="total-pagado">
                  {{datosCredito.montoCredito | currency}}
                </p>
                <p class="nombre-item">Monto de crédito</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.entidadF.plazo}} meses
                </p>
                <p class="valores">Duración en meses</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.entidadF.tasaEA | currency}}% <a>E.A.</a>
                </p>
                <p class="valores">Tasa efectivo anual</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.entidadF.tasaMV | currency}}% <a>M.V.</a>
                </p>
                <p class="valores">Tasa mensual vencida</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.entidadF.vtua | currency}} % <a>M.V.</a>
                </p>
                <p class="valores">VTUA% total en pesos</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  ${{datosCredito.entidadF.vtua | currency}}
                </p>
                <p class="valores">VTUA% en E.A.</p>
            </div>
            <div class="campo">
                <p class="titulo2">
                  {{datosCredito.entidadF.cuotaMensual | currency}}
                </p>
                <p class="valores">Tú cuota mensual aproximada</p>
                <p class="valores">mas seguro de vida <a class="seguro1">{{datosCredito.entidadF.valorSeguro | currency}}</a></p>
            </div>
        </div>

    </div>
    <app-btn-cbit
        [text]="'Continuar'"
        [type]="'button'"
        (onClickEvent)="goToPage(routes.accept)"
    >
    </app-btn-cbit>
  </body>


