<body>
    <app-header-cbit
      (onClickEventBack)="goToPage(routes.back)"
      (onClickEventHelp)="goToPage(routes.help)"
    ></app-header-cbit>
    <h1 class="titulo"> Crédito Aprobado </h1>
    <app-indicator></app-indicator>
    <div class="container" #voucherContent>
        <div class="detalleVoucher">
            <div class="campo">
                <p class="total-pagado">
                  {{datosCredito.montoCredito | currency}}
                </p>
                <p class="nombre-item">Monto de crédito</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.plazo}} meses
                </p>
                <p class="valores">Duración en meses</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.tasaEA}}% <a>E.A.</a>
                </p>
                <p class="valores">Tasa efectivo anual</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.tasaMV}}% <a>M.V.</a>
                </p>
                <p class="valores">Tasa mensual vencida</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.vtua}} % <a>M.V.</a>
                </p>
                <p class="valores">VTUA% total en pesos</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  ${{datosCredito.vtua}}
                </p>
                <p class="valores">VTUA% en E.A.</p>
            </div>
            <div class="campo">
                <p class="titulo2">
                  {{datosCredito.cuotaMensual | currency}} 
                </p>
                <p class="valores">Tú cuota mensual aproximada</p>
                <p class="valores">mas seguro de vida <a class="seguro1">{{datosCredito.valorSeguro | currency}}</a></p>
            </div>
        </div>
        
    </div>
    <app-btn-cbit
        [text]="'Continuar'"
        [type]="'button'"
        (onClickEvent)="goToPage(routes.accept)"
    >
    </app-btn-cbit>
  </body>
  

