body{
  background: linear-gradient(135deg, #00B0F9, #1F2A95);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.iconos{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 0.5rem 0;
}
.logo-entidad{
  display: flex;
  justify-content: center;
  max-width: 8rem;
  margin: 0 auto;
}
.help{
  display: flex;
  align-items: center;
}

