<body>
    <app-header-cbit
      (onClickEventBack)="goToPage(routes.back)"
      (onClickEventHelp)="goToPage(routes.help)"
    ></app-header-cbit>
    <h1 class="titulo"> Verifique las condiciones de sú crédito </h1>
    <app-indicator></app-indicator>
    <div class="container" #voucherContent>
        <div class="detalleVoucher">
            <div class="header">
                <p class="titulo3">Crédito pre-aprobado</p>
                <img class="check" src="../../../assets/icon/check.svg" />
                <p>Acerquese a la oficina {{datosCredito.entidadF.nombre}} mas cercana para terminar su proceso</p>
            </div>
            <div class="campo">
                <p class="nombre-item">
                  {{datosCredito.vtua | currency}}
                </p>
                <p class="valores">VTUA% en E.A.</p>
            </div>
            <div class="campo">
                <p class="titulo2">
                  {{datosCredito.cuotaMensual | currency}} 
                </p>
                <p class="valores">Tú cuota mensual aproximada</p>
                <p class="valores">mas seguro de vida <a class="seguro1">{{datosCredito.valorSeguro | currency}}</a></p>
            </div>
        </div>
        
    </div>
    <app-btn-cbit
        [text]="'Continuar'"
        [type]="'button'"
        (onClickEvent)="goToPage(routes.accept)"
    >
    </app-btn-cbit>
  </body>
  

