p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.titulo {
  padding: 1rem 0;
  text-align: center;
}

.icono-mensaje {
  font-size: 6rem;
  color: #1f2a95;
  text-align: center;
}
.contenido {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.texto {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
}

.alert {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.texto {
  margin: 0;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-btn-cbit {
  padding: 3rem;
}
