<body>
  <app-header-cbit
    (onClickEventBack)="goToPage(routes.back)"
    (onClickEventHelp)="goToPage(routes.help)"
  ></app-header-cbit>
  <div class="container">
    <div *ngIf="!showAdditionalFields">
       <form
       [formGroup]="formCredito"
       (ngSubmit)="formCredito.valid && onSubmitProduct()"
       >
        <h1>Crédito</h1>

        <select formControlName="credito" class="credito">
          <option value="">Selecciona tu crédito</option>
          <option *ngFor="let subtipo of subtiposProducto"

          [value]="subtipo.idSubtipo_Producto">
            {{ subtipo.nombre }}
          </option>
        </select>

        <app-btn-cbit
          [type]="'submit'"
          [text]="'Continuar'"
          [disabled]="formCredito.invalid"
        ></app-btn-cbit>
      </form>
    </div>

    <div *ngIf="showAdditionalFields" class="simulation">
      <form [formGroup]="formValidation" (ngSubmit)="onSubmitProduct()">
        <h1>Crédito</h1>
        <div>
          <label class="title" for="montoCredito">Monto crédito</label>
          <input type="number" formControlName="montoCredito" />
          <div *ngIf="formValidation.get('montoCredito')?.hasError('required')">
            <h4>El monto del crédito es requerido</h4>
          </div>
          <div *ngIf="formValidation.get('montoCredito')?.hasError('min')">
            <h4>El monto mínimo del crédito es de $2.000.000</h4>
          </div>
        </div>
        <div class="plazo">
          <label class="title" for="plazoMeses">Plazo (meses)</label>
          <input type="number" formControlName="plazoMeses" />
          <div *ngIf="formValidation.get('plazoMeses')?.hasError('required')">
            <h4>El plazo en meses es requerido</h4>
          </div>
          <div *ngIf="formValidation.get('plazoMeses')?.hasError('min')">
            <h4>El plazo mínimo es de 6 meses</h4>
          </div>
          <div *ngIf="formValidation.get('plazoMeses')?.hasError('max')">
          <h4>El plazo máximo es de 60 meses</h4>
          </div>
        </div>
        </form>
      <app-btn-cbit
          [type]="'submit'"
          [text]="'Simular'"
          [disabled]="formValidation.invalid"
          (onClickEvent)="onSubmitCreditType();"
      ></app-btn-cbit>
    </div>
  </div>
</body>
