<body>
  <app-header-cbit></app-header-cbit>
  <div class="container">
    <div class="search">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Recipient's username"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <span class="input-group-text" id="basic-addon2">@example.com</span>
      </div>
    </div>
    <div class="contenido">
      <div class="list-category">
        <h5 class="titulo">Categorías</h5>
        <app-list-category></app-list-category>
      </div>
      <div class="list-product-vertical">
        <h5 class="titulo">Cuentas</h5>
        <app-list-product-vertical></app-list-product-vertical>
      </div>
    </div>
  </div>
</body>
