<body>
  <app-header-cbit
    (onClickEventBack)="goToPage(routes.back)"
    (onClickEventHelp)="goToPage(routes.help)"
  ></app-header-cbit>
  <div class="container">
    <div class="search">
      <app-search (onTxtFilter)="setTxTFilterProduct($event)"></app-search>
    </div>
    <div class="contenido">
      <div class="list-category" *ngIf="!txtFilterProduct">
        <h5 class="titulo">Categorías</h5>
        <app-list-category
          (onCategorySelected)="setCategorySelected($event)"
        ></app-list-category>
      </div>
      <div class="list-product-vertical">
        <app-list-product-vertical
          [clientId]="user.idCliente!"
          [txtFilterProduct]="txtFilterProduct"
          [categorySelected]="categorySelected"
          [txtCategorySelected]="txtCategorySelected"
          (onProductSelected)="setProductSelected($event)"
        ></app-list-product-vertical>
      </div>
    </div>
  </div>
</body>
