p,
h5 {
  margin: 0;
}
h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.search{
  position: sticky;
  top: 5rem;
  z-index: 100;
  background-color: white;
  padding: 1rem 0;
}
.contenido {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list-product-vertical{
  margin-bottom: 1rem;
}

.bi-eye, .bi-eye-slash{
  font-size: 30px;
  color:#0F399f;
}
.p{
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: regular;
}