<div class="login">
    <div class="form-container">
        <i class="bi bi-chevron-left"></i>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <h1 class="cbit-Bank">CBITBank</h1>
        <img src="./assets/Imagenes/LogoCBIT.svg" alt="LogoCBIT" class="logoCBIT"/>
        <img class="ayuda" src="./assets/Imagenes/InquiryInquiry-1.svg" alt="ayuda"/>
        <form action="/" class="form">
            <label for="form" class="tipo-documento">Tipo de documento</label>
            <label for="numero-documento">Numero de documento</label>

            <input type="number" id="numero-documento" placeholder="Digite Numero" class="input input-numero"/>
            <input type="submit" value="Confirm"  value="confirm" class="primaru-button login-buton">
        </form>
    </div>
</div>
