<body>
  <app-header-cbit [routerLinkBack]="'/login'"></app-header-cbit>
  <div class="container">
    <h1 class="titulo">Completa tu información</h1>

    <div class="buttons">
      <app-item-registro
        [icon]="'bi bi-person'"
        [cardTitle]="'Información personal'"
        [cardText]="'Tus datos'"
        [complete]="infoPersonalComplete"
        (onClickEvent)="goToPage(routes.info)"
      ></app-item-registro>

      <app-item-registro
        [icon]="'bi bi-lock'"
        [cardTitle]="'Crea tu clave'"
        [cardText]="'No la compartas'"
        [complete]="passwordComplete"
        (onClickEvent)="goToPage(routes.password)"
      ></app-item-registro>

      <app-item-registro
        [icon]="'bi bi-emoji-laughing'"
        [cardTitle]="'Reconocimiento facial'"
        [cardText]="'Una selfie'"
        [complete]="selfieComplete"
        (onClickEvent)="goToPage(routes.selfie)"
      ></app-item-registro>

      <app-item-registro
        [icon]="'bi bi-person-vcard'"
        [cardTitle]="'Tu documento'"
        [cardText]="'Escanea tu documento'"
        [complete]="documentComplete"
        (onClickEvent)="goToPage(routes.document)"
      ></app-item-registro>
    </div>

    <app-btn-cbit
      [text]="'Continuar'"
      [disabled]="
        !infoPersonalComplete ||
        !passwordComplete ||
        !selfieComplete ||
        !documentComplete
      "
      (onClickEvent)="
        infoPersonalComplete &&
          passwordComplete &&
          selfieComplete &&
          documentComplete &&
          goToPage(routes.products)
      "
    ></app-btn-cbit>
  </div>
</body>
