<body>
  <app-header-cbit></app-header-cbit>
  <div class="container">
    <h1 class="titulo">Completa tu información</h1>

    <div class="buttons">
      <app-item-registro
        [icon]="'bi bi-person'"
        [cardTitle]="'Información personal'"
        [cardText]="'Tus datos'"
        [complete]="infoPersonalComplete"
      ></app-item-registro>

      <app-item-registro
        [icon]="'bi bi-lock'"
        [cardTitle]="'Crea tu clave'"
        [cardText]="'No la compartas'"
        [complete]="passwordComplete"
      ></app-item-registro>

      <app-item-registro
        [icon]="'bi bi-emoji-laughing'"
        [cardTitle]="'Reconocimiento facial'"
        [cardText]="'Una selfie'"
        [complete]="selfieComplete"
      ></app-item-registro>

      <app-item-registro
        [icon]="'bi bi-person-vcard'"
        [cardTitle]="'Tu documento'"
        [cardText]="'Escanea tu documento'"
        [complete]="documentComplete"
      ></app-item-registro>
    </div>

    <app-btn-cbit
      [text]="'Continuar'"
    ></app-btn-cbit>
  </div>

</body>
