body{
  border: none !important;
}

.container {
  height: 280px; 
  width: 100vw; /* Ancho completo */
  display: grid;
  place-items: center; 
  /* background-color: #0B2794; /* For browsers that do not support gradients  */
  background-image: linear-gradient(to bottom right, #00B0F9, #0B2794);
  border: none !important;
}

.entity {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}

.back {
  position: fixed;
  top: 20px; /* Desplaza hacia abajo desde la esquina superior derecha */
  left: 20px;
}

.help {
  position: fixed;
  right: 30px;
  top: 25px;  
} 



  
  /* Web-specific styles (optional) */
@media (max-width: 640px) {
  

  .back {
    position: fixed;
    top: 20px; /* Desplaza hacia abajo desde la esquina superior derecha */
    left: 10px; /* Desplazamiento a la derecha */
  }
  
  .help {
    position: fixed;
    right: 10px;
    top: 20px; 
  }
}