.frame-3 {
    border: rgb(15, 15, 15) 1px solid;
    background: linear-gradient(100deg, #dbdddf, #feffff);
    background-size: 100% 100%
  }
  .rectangle-1-6 {
    margin: 0 auto;
    border-radius: 5px;
    height: 3520px;
    width: 340px;
    background-color: #f7f7f7;
  }
  .tittle-text-1{
    text-align: left;
  }
  .text-1 {
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    font-family: Open Sans;
    line-height: auto;
    color: #000000;
  }
  .rectangle-5 {
    border-radius: 10px;
    height: 58px;
    width: 192px;
    background-color: #000000;
    border: 1px solid #1d5dc9;
  }
  .button-row {
    display: rig;
    max-width: 600px;
    align-items: first baseline;
  }