<div class="app-aceptacionterminosycond">
    <div class="tittle-cbit">
      <img src="https://periferiaitgroup-my.sharepoint.com/personal/cesarbaez_cbit-online_com/Documents/OpenBanking/Demo/Imagenes/cbitbank.fw.png" alt="logo cbit bank">
    </div>
    <p class="text-7">Conozco y acepto el reglamento y las condiciones de uso de CBITBank</p>
    <p class="text-8">Autorizo el uso de mis datos sensibles para las finalidades aqui descristas</p>
    <p class="text-9">Conozco y acepto el reglamento y las condiciones de uso de CBITBannk</p>
    <section>      
      <label aceptarTeminos>
        <input type="checkbox" name="switch" id="switch">Declaro que he leido y autorizo los permisos y documentos decritos anteriormente.
      </label>
    </section>
      <div class="rectangle-3-1">
        <section>
          <div class="button-row">  
            <button mat-raised-button color="primary">Continuar</button>
          </div>
        </section>
  </div>
</div>