<nav class="sidenav">
  <ul class="menu">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active">
        <i class="bi bi-house-door"></i>
        <span class="ml-2">Inicio</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/productos" class="nav-link">
        <i class="bi bi-cart"></i>
        <span class="ml-2">Productos</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/solicitar" class="nav-link">
        <i class="bi bi-folder-plus"></i>
        <span class="ml-2">Solicitar</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/afiliar" class="nav-link">
        <i class="bi bi-person-add"></i>
        <span class="ml-2">Afiliar</span>
      </a>
    </li>
  </ul>
  <div class="profile mt-auto">
    <button class="btn btn-danger">
      <i class="bi bi-door-closed"></i>
      Cerrar sesión
    </button>
    <a routerLink="/perfil" class="btn btn-primary">
      <i class="bi bi-person-circle"></i>
      Perfil
    </a>
  </div>
</nav>
