<body>
  <app-header-cbit
    [routerLinkBack]="'/register'"
  ></app-header-cbit>
  <div class="container">
    <h1 class="titulo">Tome una foto de su rostro</h1>
    <app-indicator></app-indicator>
    <div class="camera">
      <app-camera
        [type]="'selfie'"
        [icon]="'bi-person'"
        (onPhoto)="savePhoto($event)"
      ></app-camera>
    </div>
    <div class="boton">
      <app-btn-cbit
        [text]="'Continuar'"
        [type]="'button'"
        [disabled]="imageData == ''"
        (onClickEvent)="goToPage('/register')"
      >
      </app-btn-cbit>
    </div>
  </div>
</body>
