<body>
    <app-header-cbit
    (onClickEventBack)="goToPage(routes.back)"
    (onClickEventHelp)="goToPage(routes.help)"
  ></app-header-cbit>

    <h1>Completa los siguientes datos</h1>   
    <app-indicator></app-indicator>

    <div class="container">

        <form
        [formGroup]="formValidation"
        class="form-validation"
        >

        <p>¿Cuál es su actividad laboral?</p>
            <select formControlName="work-activity" class="work-activity">
                <option value="">Selecciona una opción</option>
                <option value="">Opción 1</option>
                <option value="">Opción 2</option>             
                <option value="">Opción 3</option>
                <option value="">Opción 4</option>
                <option value="">Opción 5</option>
                <option value="">Opción 6</option>
            </select>
        <p>¿Cuál es su actividad económica o la de su empresa?</p>
            <input type="text" class="inputText">
        <p>Nombre de la empresa</p>
            <input type="text" class="inputText">
        <p>¿Cuáles son sus ingresos mensuales?</p>
        <select formControlName="income" class="income">
            <option value="">Selecciona una opción</option>
            <option value="">Opción 1</option> 
            <option value="">Opción 2</option>              
            <option value="">Opción 3</option> 
            <option value="">Opción 4</option> 
            <option value="">Opción 5</option> 
            <option value="">Opción 6</option> 
        </select>
        <p>Ciudad donde vive</p>
            <input type="text" class="inputText">
        <p>Dirección</p>
            <input type="text" class="inputText">
        <p id="cboxAuthorizations">
            <input type="checkbox" id="cboxAuthorizations" value="" /> Acepto las autorizaciones 
            <a href="">aquí</a> descritas
        </p>
            <app-btn-cbit
                [type]="'submit'"
                [text]="'Continuar'"
            ></app-btn-cbit>
        </form>
    </div>
</body>
