<body>
    <app-header-cbit
    (onClickEventBack)="goToPage(routes.back)"
    (onClickEventHelp)="goToPage(routes.help)">
    </app-header-cbit>
    <div>
        <h1 class="titulo">Completa los siguientes datos</h1>
        <app-indicator></app-indicator>
    </div>

    <div class="container text-center">
        <form class="form-validation"
        [formGroup]="formSolicitudCredito">
            <div class="campos-form">
                <label class="form-label" for="formControlName"> ¿Cuál es su actividad laboral?</label>
                <select class="form-select" formControlName="activLaboral">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let tipoCliente of tiposCliente" [value]="tipoCliente.idTipo_Cliente">
                        {{ tipoCliente.nombre }}
                    </option>
                </select>
            </div>

            <div class="campos-form">
                <label class="form-label" for="formControlName">¿Cuál es su actividad económica o la de su empresa?</label>
                <input type="text" class="rounded-input" formControlName="activEconomica">
            </div>
            <div class="campos-form">
                <label class="form-label" for="formControlName">Nombre de la empresa</label>
                <input type="text" class="rounded-input" formControlName="nombreEmpresa">
            </div>
            <div class="campos-form">
                <label class="form-label" for="formControlName">¿Cuáles son sus ingresos mensuales?</label>
                <input type="number" class="rounded-input" formControlName="ingresosMensuales">
            </div>
            <div class="campos-form">
                <label
                class="form-label"
                for="formControlName">
                Departamento de residencia</label
                >
                <select
                    class="form-select"
                    aria-label=""
                    formControlName="deptoDomicilio"
                    (change)="loadCities($event)"
                >
                  <option selected disabled>Selecciona una opción</option>
                  <option
                    *ngFor="let dep of departamentos"
                    [value]="dep.idDepartamento"
                  >
                    {{ dep.nombre }}
                  </option>
                </select>
              </div>

            <div class="campos-form">
                <label class="form-label" for="formControlName">Ciudad donde vive</label>
                <select
                    class="form-select"
                    aria-label=""
                    formControlName="ciudadDomicilio"
                >
                    <option selected disabled>Selecciona una opción</option>
                    <option *ngFor="let ciudad of ciudadesPorDep"
                    [value]="ciudad.idCiudad">
                        {{ ciudad.nombre }}
                    </option>
                </select>
            </div>
            <div class="campos-form">
                <label class="form-label" for="formControlName">Dirección</label>
                <input type="text" class="rounded-input" formControlName="direccionDomicilio">
            </div>
            <div class="checkbox-form">
                <label class="form-label" for="formControlName" id="cboxAuthorizations">
                    <input type="checkbox" id="cboxAuthorizations" value="" formControlName="aceptaTyC"/> Acepto las autorizaciones
                    <a href="">aquí</a> descritas
                </label>
            </div>
        </form>
    </div>

    <div>
        <app-btn-cbit
        [text]="'Continuar'"
        [disabled]="formSolicitudCredito.invalid"
        (onClickEvent)="onSubmitCreditRequest()"
        ></app-btn-cbit>
    </div>
</body>
