body{
  background-color: #f7f7f7;
  height: 109vh;
}
.titulo{
  color: #00A7F2;
  margin-top: 1.5rem;
  margin-bottom:1rem;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 95%;
}
.campos-form{
  text-align: left;
}

p, .form-label{
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #6D6464;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
}

.inputText{
  width: 100%;
  height: 45px;
  /* padding: 0 1rem; */
  margin-bottom: 0.7rem;
}
.select{
  width: 100%;
  height: 45px;
  border-radius: 8px;
  /* padding: 0 1rem; */
  font-size: 14px;
}
.rounded-input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
}
.checkbox-form{
  margin-top: 1rem;
  margin-bottom: 3rem;
}