body{
  background-color: transparent;
}
.input-otp{
  display: flex;
  justify-content: center;
  gap: 3px;
}
.digito{
  width: 45px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  border: 2px solid #b2adad;
  border-radius: 8px;
  background-color: white;
  color: black;
}
