<!-- <app-header-cbit></app-header-cbit> -->
<!-- <app-btn-cbit></app-btn-cbit> -->
<!-- <app-indicator-signin-user></app-indicator-signin-user> -->
<!-- <app-item-registro></app-item-registro> -->
<!-- <app-back></app-back> -->
<!-- <app-header-login></app-header-login> -->
<!-- <app-menu-registration></app-menu-registration> -->
<!-- <app-form-registration></app-form-registration> -->
<!-- <app-loading-begin></app-loading-begin> -->
<!-- <app-login></app-login> -->
<!-- <app-terms-and-conditions></app-terms-and-conditions> -->
<router-outlet></router-outlet>
