<router-outlet></router-outlet>

<!-- <app-add-product></app-add-product> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-form-document></app-form-document> -->
<!-- <app-form-password></app-form-password> -->
<!-- <app-form-phone-confirm></app-form-phone-confirm> -->
<!-- <app-form-registration></app-form-registration> -->
<!-- <app-form-selfie></app-form-selfie> -->
<!-- <app-help-page></app-help-page> -->
<!-- <app-index></app-index> -->
<!-- <app-login></app-login> -->
<!-- <app-menu-registration></app-menu-registration> -->
<!-- <app-my-products></app-my-products> -->
<!-- <app-otp-banks></app-otp-banks> -->
<!-- <app-payment-summary></app-payment-summary> -->
<!-- <app-select-entity></app-select-entity> -->
<!-- <app-terms-accept></app-terms-accept> -->
<!-- <app-terms-conditions></app-terms-conditions> -->
<!-- <app-transaction></app-transaction> -->
<!-- <app-tyc-banks></app-tyc-banks> -->
<!-- <app-voucher></app-voucher> -->
<!-- <app-wallet></app-wallet> -->
