.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00BFCF, #00B0F9, #0B2794, #180B94);
  background-size: 200% 200%;
  animation: gradientAnimation 2s linear forwards;
}
@keyframes gradientAnimation {
  0% {
    background-position: 25% 25%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 75% 75%;
  }
}
.logo {
  width: 25%;
  height: fit-content;
  transform: rotate(-30deg);
  opacity: 0;
  animation: logo-animation 2s ease-in-out 1 forwards;
}
.logo img {
  width: 100%;
  height: 100%;
}
@keyframes logo-animation {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
  }
  80% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.nombre-empresa {
  font-weight: 300;
  font-size: 60px;
  color: white;
  opacity: 0;
  animation: nombre-empresa-animation 2s ease-in-out 1 forwards;
}
.nombre-empresa span {
  font-weight: 500;
}
@keyframes nombre-empresa-animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
