<body>
  <div>
      <app-header-cbit
        (onClickEventBack)="goToPage(routes.back);"
        (onClickEventHelp)="goToPage(routes.help)"
      ></app-header-cbit>
  </div>
  <div class="container-indicator">
      <h1 class="titulo">Su {{ subtipoProductoCNombre }} fue desembolsado</h1>
      <app-indicator [completados]="3"></app-indicator>
  </div>

  <div class="container">
      <div class="info-values">
          <div class="tittle">Producto</div>
          <div class="tx-value">{{ subtipoProductoCNombre }} móvil</div>
          <div class="tittle">Monto del credito</div>
          <div class="tx-value">{{ creditData.montoCredito | currency }}</div>
          <div class="tittle">Duración en meses</div>
          <div class="tx-value">{{creditData.plazo}} Meses</div>
          <div class="tittle">Fecha y hora de desembolso</div>
          <div class="tx-value">{{ fechaHoraActual }}</div>
          <div class="tittle">Cuenta de desembolso</div>
          <div class="tx-value">{{ numeroCuenta }}</div>
          <div class="tittle">Tasa Efectivo Anual</div>
          <div class="tx-value">{{ creditData.tasaEA }}% E.A.</div>
          <div class="tittle">Tasa Mensual Vencida </div>
          <div class="tx-value">{{ creditData.tasaMV }}% M.V.</div>
          <div class="info-seguro">
              <div class="tx-monto-cuota">{{ creditData.cuotaMensual | currency:''}}</div>
              <div class="tx-monto">Tu cuota mensual aproximada mas seguro de vida
                  <span class="tx-vl-seguro">
                      {{ creditData.valorSeguro | currency }}
                  </span>
              </div>
          </div>
      </div>
  </div>

  <div class="boton">
      <app-btn-cbit
      [text]="'Continuar'"
      [type]="'button'"
      (onClickEvent)="goToPage(this.routes.continue);cleanLocalStorage()"
      >
      </app-btn-cbit>
  </div>
</body>
