<body>
  <div>
      <app-header-cbit
          (onClickEventBack)="goToPage(routes.back);"
          (onClickEventHelp)="goToPage(routes.help)"
          ></app-header-cbit>
  </div>
  <div class="tx-titulo">
      <p class="credit-type">{{ solicitudDataForm.nombreSubtipoP }}</p>
      <p class="text-simu">Simulación</p>
  </div>
  <div class="container">
      <div class="info-values">
          <div class="tx-monto-sm">{{ solicitudDataForm.montoC | currency:''}}</div>
          <div class="tx-monto">Monto</div>
      </div>
      <div class="info-value-cuota">
          <div class="tx-monto-cuota">{{solicitudDataForm.cuotaMensual | currency:''}}</div>
          <div class="tx-cuota">Tu cuota mensual aproximada más seguro de vida
              <span class="tx-vl-seguro">
                  {{ solicitudDataForm.valorSeguro | currency:''}}
              </span>
          </div>
      </div>
      <div class="inf-tasa-ea">
          <div class="vl-tasa-ea">{{ solicitudDataForm.tasaEA }} %</div>
          <div class="tx-tasa-ea">Tasa Efectivo Anual</div>
      </div>
      <div class="inf-cuota">
          <div class="vl-cuota">{{ solicitudDataForm.plazoC }} meses</div>
          <div class="tx-cuotas">Duración en meses</div>
      </div>
      <div class="inf-tasa-mv">
          <div class="vl-tasa-mv">{{ solicitudDataForm.tasaMV }} %</div>
          <div class="tx-tasa-mv">Tasa Mensual Vencida</div>
      </div>
      <div class="inf-vtua">
          <div class="vl-tasa-vtua">{{ solicitudDataForm.vtua | currency:'' }}</div>
          <div class="tx-tasa-vtua">VTUA total en pesos</div>
      </div>
      <div class="info-deuda-t">
          <div class="vl-deuda-t">{{ solicitudDataForm.pagoTotal | currency:'' }}</div>
          <div class="tx-deuda-t">Pago total</div>
      </div>
      <div class="tx-sg-vida">Todos los creditos tiene seguro de vida
          <i class="bi bi-info-circle"></i>
      </div>
      <div class="inf-ayuda">
          <div class="tx-inf-ayuda">¿Recibiste ayuda de tu asesor?</div>
          <div class="tx-box-asesor">
              <input class="txbox" type="text" id="name" name="name" required minlength="4" maxlength="8" size="10" />
          </div>
      </div>
  </div>
  <div class="boton">
      <app-btn-cbit
      [text]="'Continuar'"
      [type]="'button'"
      >
      </app-btn-cbit>
  </div>
</body>
