<body>
  <app-header-cbit
    [routerLinkBack]="'/register'"
  ></app-header-cbit>
  <div class="container">
    <h1 class="titulo">{{ titulo }}</h1>
    <app-indicator></app-indicator>
    <div class="camera">
      <div *ngIf="frontDocument">
        <app-camera
          [type]="'document'"
          [icon]="'bi-person-vcard'"
          (onPhoto)="savePhoto($event)"
        ></app-camera>
      </div>
      <div *ngIf="!frontDocument">
        <app-camera
          [type]="'document'"
          [icon]="'bi-postcard'"
          (onPhoto)="savePhoto($event)"
          ></app-camera>
      </div>
    </div>
    <div class="alert alert-success text-center" role="alert" *ngIf="showAlert">
      Imagen guardada correctamente
    </div>
    <app-btn-cbit
      class="boton"
      (onClickEvent)="continue()"
      [text]="'Continuar'"
      [disabled]="!activeBtn"
    ></app-btn-cbit>
  </div>
</body>
