<app-header-cbit
  (onClickEventBack)="goBack()"
  (onClickEventHelp)="goToPage(routes.help)"
></app-header-cbit>
<div class="container">
  <div class="buscador">
    <h5 class="text-input">Elige tu entidad</h5>
    <app-search
      [placeholder]="'Escribe el nombre de la entidad...'"
      (onTxtFilter)="setFilter($event)"
    />
  </div>
  <div class="lista">
    <app-grid-entity
      [txtFilter]="txtFilter"
      (selectedEntity)="selectedEntity($event)"
    ></app-grid-entity>
  </div>
</div>
