<div class="app-aceptacion-terminos-ycond">
    <p class="text-1">CBITBank</p>
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <p class="text-7">Conozco y acepto el reglamento y las condiciones de uso de CBITBank</p>
    <p class="text-8">Autorizo el uso de mis datos sensibles para las finalidades aqui descristas</p>
    <p class="text-9">Conozco y acepto el reglamento y las condiciones de uso de CBITBannk</p>
    <p class="text-1-0">Declaro que  he leido y autorizo los permisos y documentos decritos anteriormente.</p>
    <div class="rectangle-3-1">
    <div class="rectangle-5">
    <p class="text-1-1">Continuar</p>
  </div>