.container {
  display: flex;
  flex-direction: column;
}
.icono-help{
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;

}
.logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: calc(100vh * 0.05) 0 calc(100vh * 0.05) 0;
}
.nombre-empresa {
  width: 70%;
}
.logo-cbit {
  width: 40%;
}
