<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse otra" id="navbarToggler">
      <a class="navbar-brand" routerLink="/products">
        <img src="../../../../../assets/marketplace/LogoMarketplace.png" alt="Logo de open banking">
      </a>
      <ul class="navbar-nav justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Billetera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mis bancos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
