<app-header-cbit></app-header-cbit>
<a routerLink="/tyc" class="atras">
  <i class="bi bi-arrow-left"></i>
</a>
<div class="container">
  <h2 class="text-center titulo">Transacción realizada</h2>
  <div class="comprobante">
    <b>Transacción No.</b>
    <p>{{ transaccion.idTransaccion }}</p>
    <b>Fecha de transacción</b>
    <p>{{ transaccion.fechaTransaccion| date: 'dd-MMM-yyyy HH:mm:ss' }}</p>
    <b>Cliente</b>
    <p>{{ clientePruebas.nombre }}</p>
    <b>Correo electrónico</b>
    <p>{{ clientePruebas.email }}</p>
    <b>Número de documento</b>
    <p>{{ clientePruebas.numeroIdentificacion }}</p>
    <br>
    <b>Valor</b>
    <p>{{ transaccion.valorCompra| currency }}</p>
    <b>Estado</b>
    <p>{{ transaccion.estado }}</p>
    <b>Número de aprobación </b>
    <p>{{ transaccion.numeroAprobacion }}</p>
  </div>
</div>
