<div class="container">
  <h1 class="titulo">Completa tu información</h1>

  <div class="buttons">
    <div class="card">
      <div class="card-body">
        <div class="icono">
          <i class="bi bi-person"></i>
        </div>
        <div class="texto">
          <h5 class="card-title">Información personal</h5>
          <p class="card-text">Tus datos</p>
        </div>
        <div class="indicador">
          <i class="bi bi-chevron-compact-right"></i>
          <!-- <i class="bi bi-check-circle-fill"></i> -->
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="icono">
          <i class="bi bi-lock"></i>
        </div>
        <div class="texto">
          <h5 class="card-title">Crea tu clave</h5>
          <p class="card-text">No la compartas</p>
        </div>
        <div class="indicador">
          <i class="bi bi-chevron-compact-right"></i>
          <!-- <i class="bi bi-check-circle-fill"></i> -->
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="icono">
          <i class="bi bi-emoji-laughing"></i>
        </div>
        <div class="texto">
          <h5 class="card-title">Reconocimiento facial</h5>
          <p class="card-text">Una selfie</p>
        </div>
        <div class="indicador">
          <i class="bi bi-chevron-compact-right"></i>
          <!-- <i class="bi bi-check-circle-fill"></i> -->
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="icono">
          <i class="bi bi-person-vcard"></i>
        </div>
        <div class="texto">
          <h5 class="card-title">Tu documento</h5>
          <p class="card-text">Escanea tu documento</p>
        </div>
        <div class="indicador">
          <i class="bi bi-chevron-compact-right"></i>
          <!-- <i class="bi bi-check-circle-fill"></i> -->
        </div>
      </div>
    </div>
  </div>
  <div class="boton">
    <button type="button" class="btn btn-primary">Continuar</button>
  </div>
</div>
