.container{
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}
.titulo{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: regular;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.card-body{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  font-size: medium;
  gap: 1rem;
}
.card{
  margin-bottom: 1rem;
}
.card-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.bi{
  font-size: 30px;
  color: #00B8E2;
}
.texto{
  justify-content: center;
}
.icono{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: #00B8E2 2px solid;
  text-align: center;
}
.btn{
  background-color: #1D5DC9;
  color: white;
  height: 58px;
  width: 192px;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-weight: normal;
  font-size: 20px;
}
.boton{
  text-align: center;
  padding: 3rem;
}
@media (min-height: 800px){
  .boton{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: #fff; */
  }
}
