.atras{
  position: absolute;
  font-size: 1.5rem;
  color: #000;
  margin: 0.9rem 0.5rem;
}
.titulo{
  padding: 1rem 0;
}
.icono{
  text-align: center;
}
img{
  max-height: 10rem;
  object-fit: cover;
}
form{
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
form input{
  width: 60%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #000;
  text-align: center;
  letter-spacing: 0.5rem;
}
.alert p{
  margin-bottom: 0;
}
