p {
  margin: 0;
}
.header{
  position: sticky;
  top: 0;
  width: 100%;
}
.titulo{
  padding: 1rem 0;
  text-align: center;
}
.form-check-label, .text, p{
  font-size: .875rem;
}
.bancolombia {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.daviplata {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-check{
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}
.boton  {
  margin: 2rem 0 1rem 0;
}
