<body>
    <div>
        <app-header-cbit
            (onClickEventBack)="goToPage(routes.back)"
            (onClickEventHelp)="goToPage(routes.help)"
            ></app-header-cbit>
    </div>
    <div class="tx-titulo">
        <p class="credit-type">{{ creditDataForm.tipoCredito }}</p>
        <p class="text-simu">Simulación</p>
    </div>
    <div class="container">
        <div class="info-values">
            <div class="tx-monto-sm">{{ creditDataForm.montoCredito | currency:''}}</div>
            <div class="tx-monto">Monto</div>
        </div>
        <div class="info-value-cuota">
            <div class="tx-monto-cuota">$</div>
            <div class="tx-cuota">Tu cuota mensual aproximada más seguro de vida
                <span class="tx-vl-seguro">
                    [$2.140]
                </span>
            </div>
        </div>
        <div class="inf-tasa-ea">
            <div class="vl-tasa-ea">c</div>
            <div class="tx-tasa-ea">Tasa Efectivo Anual</div>
        </div>
        <div class="inf-cuota">
            <div class="vl-cuota">{{ creditDataForm.plazoMeses }}</div>
            <div class="tx-cuotas">Duración en meses</div>
        </div>
        <div class="inf-tasa-mv">
            <div class="vl-tasa-mv">e</div>
            <div class="tx-tasa-mv">Tasa Mensual Vencida</div>
        </div>
        <div class="inf-vtua">
            <div class="vl-tasa-vtua">f</div>
            <div class="tx-tasa-vtua">VTUA total en pesos</div>
        </div>
        <div class="info-deuda-t">
            <div class="vl-deuda-t">g</div>
            <div class="tx-deuda-t">Duración en meses</div>
        </div>
        <div class="tx-sg-vida">Todos los creditos tiene seguro de vida
            <i class="bi bi-info-circle" (click)="goToPage(routes.info)"></i>
        </div>
        <div class="inf-ayuda">
            <div class="tx-inf-ayuda">¿Recibiste ayuda de tu asesor?</div>
            <div class="tx-box-asesor">
                <input class="txbox" type="text" id="name" name="name" required minlength="4" maxlength="8" size="10" />
            </div>
        </div>
    </div>
    <div class="boton">
        <app-btn-cbit
        [text]="'Continuar'"
        [type]="'button'"
        (onClickEvent)="goToPage(routes.dashboard)"
        >
        </app-btn-cbit>
    </div>
    <div class="link-simulation" (click)="goToPage(routes.simulation)">
        <p class="text-volver-sim">Volver a simulacion</p>
      </div>
    <p class="text-volver-sim"></p>
</body>
