<body>
  <app-header-entity
    (onClickEventBack)="goToPage(routes.back)"
    (onClickEventHelp)="goToPage(routes.help)"
    [entity]="selectedEntity"
  ></app-header-entity>
  <div class="container">
    <div *ngIf="!showAdditionalFields && !showSuccessMessage">
      <form
        [formGroup]="formProducto"
        (ngSubmit)="formProducto.valid && onSubmitProduct()"
        class="form-producto container"
      >
        <h1>Producto</h1>
        <select formControlName="product" class="product" (subTipoP)="loadSubproducts($event)">

          <option value="">Selecciona tu producto</option>
          <option
            *ngFor="let tipo of tiposProducto"
            [value]="tipo.idTipo_Producto"
          >
            {{ tipo.nombreTipo }}
          </option>
        </select>

        <select formControlName="subtProduct" class="subtProduct">
          <option value="">Selecciona tu </option>
          <option
            *ngFor="let subTipo of subtipoPXTipoP"
            [value]="subTipo.idSubtipo_Producto"
          >
            {{ subTipo.nombre }}
          </option>
        </select>

        <app-btn-cbit
          [type]="'submit'"
          [text]="'Continuar'"
          [disabled]="formProducto.invalid"
        ></app-btn-cbit>
      </form>
    </div>

    <div *ngIf="showAdditionalFields && !showSuccessMessage">
      <form
        [formGroup]="formValidation"
        (ngSubmit)="formValidation.valid && onSubmitValidation()"
        class="form-validation"
      >
        <div>
          <label for="formControlName">Número de cuenta</label>
          <input type="tel" formControlName="numeroProducto" />
        </div>
        <div>
          <label for="formControlName">Ingresa tu clave</label>
          <input type="password" formControlName="password" />
        </div>
        <app-btn-cbit
          [type]="'submit'"
          [text]="'Continuar'"
          [disabled]="formValidation.invalid"
          [loading]="isLoading"
        ></app-btn-cbit>
      </form>
    </div>

    <div *ngIf="showSuccessMessage" class="result">
      <div class="dataProduct">
        <h4>Producto:</h4>
        <h4>
          {{ selectedProduct?.nombreTipo }} No.
          {{ formValidation.value.numeroProducto | valueHidden }}
        </h4>
      </div>
      <h1>Agregado exitosamente</h1>
      <app-btn-cbit
        [text]="shopping ? 'Seguir comprando' : 'Movimientos'"
        (onClickEvent)="continue()"
      ></app-btn-cbit>
    </div>
  </div>
</body>
