<body>
    <div class="contenedor">
        <div class="iconos">
                <app-back class="back"
                [routerLink]="'/'"
                ></app-back>
                <h1>Movimientos</h1>      
        </div>
        
        <div class="logo-entidad">
            <app-entity [nameEntity]="'Nequi'" [nameImage]="'bancolombia'"></app-entity>
        </div>
        <div class="account-detail">
            <p>Cuenta Ahorros</p>
            <p>*****87757</p>
        </div>
    </div>
</body>